.MoodZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.moodSection {
    margin-top: 250px;
    width: 70%;
    height: 800px;
    background-color: white;
    border: 2px solid #DDDDDD;
    border-radius: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.moodTitle {
    margin: 0px;
    color: var(--main-color);
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    transition: color 0.7s ease-in-out;
}

.moodDay {
    width: 90%;
    background-color: var(--main-color);
    border-radius: 50px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 40px;
    transition: background-color 0.7s ease-in-out;
    text-align: center;
}

.moodDay p {
    margin: 0px;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

.moodInfo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
}

.infoLeft {
    width: 40%;
    height: 550px;
    background-color: var(--secondleft-color);
    border-radius: 20px;
    transition: background-color 0.7s ease-in-out;
}

.innerInfo {
    position: relative;
    width: 60%;
    height: 100%;
    background-color: var(--secondright-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.7s ease-in-out;
}

.statMood {
    color: var(--secondtext-color);
    font-size: 35px;
    letter-spacing: 2px;
    margin: 0px;
    transition: color 0.7s ease-in-out;
}

.showStat {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statLeft {
    width: 45%;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.statRight {
    width: 45%;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.statLeftTitle,
.statRightTitle {
    font-size: 30px;
    margin: 0px;
    letter-spacing: 3px;
    color: var(--secondtext-color);
    transition: color 0.7s ease-in-out;
}

.statLeftDay {
    font-size: 80px;
    line-height: 100%;
    margin: 0px;
    color: var(--secondtext-color);
    transition: color 0.7s ease-in-out;
}

.statLeftText {
    font-size: 20px;
    margin: 0px;
    letter-spacing: 2px;
    color: var(--secondtext-color);
    transition: color 0.7s ease-in-out;
}

.statRightMood {
    margin: 0px;
    font-size: 70px;
}

.statRightText {
    font-size: 20px;
    margin: 0px;
    color: var(--secondtext-color);
    letter-spacing: 2px;
    transition: color 0.7s ease-in-out;
}

.historyStat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    padding: 8px 12px 8px 12px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.historyStat p {
    cursor: pointer;
    font-size: 20px;
    margin: 0px;
    color: var(--secondtext-color);
    transition: color 0.7s ease-in-out;
}

.infoLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.todayTitle {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px;
    margin-top: 20px;
}

.moodSelect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
    width: 90%;
    height: 200px;
    margin-bottom: 50px;
}

.moodOption {
    width: 105px;
    height: 105px;
    border-radius: 15px;
    border: 3px solid;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.moodOption.active {
    transform: scale(1.1);
}

.emoji {
    margin: 0;
    width: 45px;
    height: 45px;
}

.titleOption {
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
    color: #464646;
}



.sadborder {
    border-color: #7BD3EA;
}

.happyborder {
    border-color: #F5C968;
}

.normalborder {
    border-color: #967AF9;
}

.angryborder {
    border-color: #F46C6C;
}

.funnyborder {
    border-color: #B0DB9C;
}


.moodnote {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    resize: none;
    overflow: auto;
    padding: 10px;
    font-family: "Mali", cursive;
    font-weight: 600;
    font-style: normal;
    color: #464646;
}

.moodnote::placeholder {
    opacity: 70%;
    letter-spacing: 2px;
}



.moodnote:focus {
    outline: 2px solid var(--main-color);
}

.moodsubmit {
    cursor: pointer;
    width: 110px;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 12px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moodsubmit p {
    cursor: pointer;
}

.moodsubmit p {
    color: var(--secondleft-color);
    transition: color 0.7s ease-in-out;
    font-size: 20px;
    margin: 0px;
}

.moodLoaded{
    width: 50px;
    height: 50px;
    transform: scale(2.5);
}

.moodIcon {
    max-width: 84px;
    max-height: 84px;
}

@media (hover: hover) {
    .historyStat:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }

    .moodOption:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }

    .moodsubmit:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

@media (max-width: 767px) {
    .moodSection {
        width: 90%;
        height: fit-content;
        padding: 20px 0px 20px 0px;
        margin-top: 150px;
    }

    .moodTitle {
        font-size: 22px;
    }

    .moodDay p {
        font-size: 20px;
    }

    .moodInfo {
        flex-direction: column;
    }

    .infoLeft {
        width: 100%;
        height: fit-content;
    }

    .todayTitle {
        font-size: 23px;
    }

    .moodOption {
        width: 100px;
        height: 90px;
    }

    .moodOption p {
        margin: 0;
    }

    .moodnote {
        display: none;
    }

    .moodSelect {
        height: fit-content;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .emoji {
        width: 40px;
        height: 40px;
    }

    .showStat {
        flex-direction: column;
        gap: 25px;
    }

    .statLeft,
    .statRight {
        width: 100%;
        height: 200px;
    }

    .innerInfo {
        margin-top: 30px;
        width: 100%;
        padding: 20px 0px 20px 0px;
        gap: 20px;
    }

    .statMood {
        font-size: 24px;
    }

    .statLeftDay {
        font-size: 50px;
    }

    .statLeftTitle,
    .statRightTitle {
        font-size: 20px;
    }

    .statRightText {
        font-size: 15px;
    }

    .statLeftText {
        font-size: 15px;
    }

    .moodIcon {
        width: 60px;
        height: 60px;
    }

    .moodsubmit {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .moodSection {
        width: 95%;
        height: fit-content;
        padding: 20px 0px 20px 0px;
        margin-top: 150px;
    }

    .moodInfo {
        flex-direction: column;
    }

    .todayTitle {
        font-size: 35px;
    }

    .infoLeft {
        width: 100%;
        height: fit-content;
    }

    .moodSelect {
        margin-bottom: 20px;
        margin-top: 20px;
        height: fit-content;
    }

    .moodOption {
        width: 200px;
        height: 150px;
    }

    .emoji {
        width: 60px;
        height: 60px;
    }

    .moodOption p {
        font-size: 23px;
    }

    .showStat {
        flex-direction: column;
        gap: 10px;
    }

    .innerInfo {
        margin-top: 30px;
        width: 100%;
        padding: 20px 0px 20px 0px;
        gap: 20px;
    }

    .statLeft,
    .statRight {
        width: 50%;
        height: 250px;
    }

    .showStat {
        margin-top: 15px;
        gap: 30px;
        margin-bottom: 15px;
    }

    .statRightText {
        font-size: 20px;
    }

    .moodnote {
        display: none;
    }

    .moodsubmit {
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .moodSection{
        width: 80%;
    }

    .statLeftTitle, .statRightTitle{
        font-size: 23px;
    }

    .statRightText, .statLeftText{
        font-size: 18px;
    }
}