.PostZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.postSection{
    position: relative;
    width: 100%;
    height: auto;
}

.topicSection{
    text-align: center;
}

.topic{
    font-size: 35px;
}


.infoZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoSection{
    width: 70%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .PostZone{
        width: 95%;
    }

    .infoSection{
        width: 100%;
    }
}